<div class="center hero-unit">
  <h1>Welcome to Pacer Mate</h1>

  <h2>
    This should say something great and wonderful about what I'm doing!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%#= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>