<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/horse_form' %>
      </section>
    </aside>
  </div>  
<% else %>
	<div class="center hero-unit">
	  <h1>Welcome to Pacer Mate</h1>

	  <h2>
	    This is a helper application for those in the horse pacing industry.
      <br>
      It will provide training tracking tools, gear advice and horse history, along with a blog of useful information.
      <br>
      This application is very much in development, and is not currently ready for use.
	  </h2>

	  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>

	<%#= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>